.edit-deck {
  > div {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  &__list {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  &__input {
    margin-bottom: 1rem;
  }
  &__search-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__search-item {
    button {
      margin-left: 1rem;
    }
  }
  &__preview {
    max-width: 100%;
    width: 320px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @media (max-width: 768px) {
      max-width: unset;
      width: 100%;
    }
  }
  &__image {
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }
  &__decklist {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__name {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    place-content: space-between;
    button {
      border: 0;
      background: 0;
      cursor: pointer;
      svg {
        font-size: 1rem;
      }
    }
  }
}
