.deck {
  &__tabs {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  &__tab {
    display: inline-block;
    padding: 1rem;
  }
  &__section {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    &--decklist {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      & > div {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
  &__preview {
    max-width: 100%;
    width: 320px;
    @media (max-width: 768px) {
      max-width: unset;
      width: 100%;
    }
    .MuiFormControl-root {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  &__list {
    flex: 1;
    margin-left: 1rem;
  }
  &__image {
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }
  &__name {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    place-content: space-between;
    align-items: center;
    button {
      border: 0;
      background: 0;
      cursor: pointer;
      svg {
        font-size: 1rem;
      }
    }
  }
  &__actions {
    //padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &--top {
      flex-direction: column;
    }
    &--bottom {
      margin-bottom: unset;
      padding-bottom: 0;
      margin-bottom: 2rem;
    }
    > div {
    }
  }
  &__action {
    display: block;
    button {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    &--delete {
      margin-left: auto;
      button {
        background-color: #f44336;
        &:hover {
          background-color: #aa2e25;
        }
      }
    }
    &--search {
      display: flex;
      flex-wrap: wrap;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      .MuiFormControl-root {
        flex: 1;
        @media (max-width: 768px) {
          margin-bottom: 1rem;
          input {
            text-align: center;
          }
        }
      }
      > * {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    &--bottom {
      margin-top: 1rem;
    }
  }
  &__action-title {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
  }
  &__clear-button {
    display: flex;
    @media (max-width: 768px) {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
  &__search-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding-top: 1rem;
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    //padding-bottom: 1rem;
  }
  &__search-item {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #efefef;
    > span {
      display: flex;
      flex-wrap: wrap;
      place-items: center;
      @media (max-width: 768px) {
        text-align: center;
        justify-content: center;
      }
    }
    button {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  &__search-name {
    margin-bottom: 0.5rem;
    @media (max-width: 768px) {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
  }
  &__search-buttons {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    @media (min-width: 767px) {
      margin-left: auto;
    }
  }
  &__name-edit {
  }
  &__name-input {
    margin-bottom: 1rem !important;
  }
  &__import {
    margin-top: 1rem;
  }
  &__score {
    font-size: 1.5rem;
    text-align: center;
  }
  &__deck-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    place-items: center;
    justify-content: space-between;
  }
  &__rating {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #efefef;
    display: flex;
    place-items: center;
    place-content: center;
  }
  &__power-rating {
    margin: 0;
    padding: 0;
  }
}
