.profile {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  &__actions {
    width: 100%;
    margin-bottom: 1rem;
    ul {
      list-style: none;
      padding: 1rem;
      margin: 0;
    }
  }
  &__action {
    display: inline-block;
    button {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &__decks {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    > div {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  &__info {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__deck {
    position: relative;
    max-width: 320px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 500px) {
      max-width: unset;
    }
    &--partner {
      #{ $self }__commander {
        padding-right: 3rem;
        padding-bottom: 3rem;
        &--commander2 {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0;
          padding-left: 3rem;
          padding-top: 3rem;
        }
      }
    }
    a {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  &__image {
    flex-grow: 1;
  }
  &__commander {
    max-width: 100%;
    &--commander2 {
      position: absolute;
      top: 3rem;
      left: 3rem;
    }
  }
  &__name {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  &__score {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
  }
  &__date {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
