@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swa");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  background: #efefef;
}

.section {
  display: flex;
  flex-wrap: wrap;
  &__card {
    margin-right: 1rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &--full {
      flex: 1;
    }
  }
}
